@inherits LayoutComponentBase

<nav style="padding:8px; border-bottom:1px solid #eee; margin-bottom:12px;">
    <a href="./">Home</a>
    |
    <a href="admin/metrics">Metrics</a>
    |
    <a href="admin/storage">Storage</a>
    |
    <a href="admin/providers">Providers</a>
</nav>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
