@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a class="btn btn-outline-secondary btn-sm" asp-page="/Admin/Providers/Index">Admin: External Providers</a>
    <a class="btn btn-outline-secondary btn-sm" asp-page="/Admin/Impersonation/Index">Admin: Impersonation</a>
    </p>
</div>
