@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>Admin</h3>
<ul>
	<li><a href="/admin/providers">External Providers</a></li>
	<li><a href="/admin/security">Security Events</a></li>
	<li><a href="/admin/ml">ML Management (preview)</a></li>
    
</ul>
