@inject Microsoft.AspNetCore.Components.NavigationManager NavManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/dashboard/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TansuCloud.Dashboard.styles.css" />
    <ImportMap />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: true)" />
    
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: true)">
    </Routes>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
