<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="typeof(Layout.MainLayout)">
                        <div style="margin:2rem; font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; color:#444;">
                            Authorizing…
                        </div>
                    </LayoutView>
                </NotAuthorized>
                <Authorizing>
                    <LayoutView Layout="typeof(Layout.MainLayout)">
                        <div style="margin:2rem; font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; color:#444;">
                            Loading…
                        </div>
                    </LayoutView>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <div style="margin:2rem; font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; color:#444;">
                    Loading Dashboard…
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
